.classic-button {
  background: var(--light-blue);
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px, rgba(0, 0, 0, 0.3) 7px 7px 13px -3px, rgba(0, 0, 0, 0.2) -3px -3px 0px inset;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Silkscreen", sans-serif;
  transition: .3s ease;
  cursor: pointer;
  border: 1px solid var(--darker-blue);
  margin: auto;

  a {
    color: black;
    text-decoration: none;
  }

  &:hover {
    
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transform: translateY(2px);
   
  }

  &.disabled {
    pointer-events: none;
    background: var(--grey-blue);
  }

}