
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.cards {
  margin: auto 0;
  width: 150px;
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card,
.card__inner,
.card__image {
  width: 150px;
  height: 150px;

}

.card {
  cursor: pointer;
  flex: 0 0 auto;
  margin: 10px;
}

.card__inner {
  will-change: transform;
  box-shadow: 0 4px 10px rgba(black, 0.08);
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.card__image {
  overflow: hidden;
  position: relative;

  > img {
    will-change: transform;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: transform 0.3s;
  }

  &:hover > img {
    transform: scale(1.1);
  }
}


.card.is-active {
  .card__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 6px 20px rgba(black, 0.05);
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 0;
  }

  .card__image {
    width: 100vw;
    height: 45vh;

    &:hover > img {
      transform: scale(1);
    }

  }
}

.content {
  pointer-events: none;
}

.content__group {
  opacity: 0;
  position: absolute;
  top: 50vh;
  right: 0;
  bottom: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  padding: 8vw;

}

.content__heading {
  font-size: 42px;
}

.content__category {
  background-color: cadetblue;
  display: inline-block;
  color: rgba(white, 0.8);
  font-size: 14px;
  padding: 0 12px;
  line-height: 30px;
  border-radius: 15px;
  align-self: flex-start;
  margin-top: 8px;
}

.content__description {
  font-size: 17px;
  line-height: 1.5;
  margin-top: 55px;
  color: #888888;
}
