a.nav {
  color: black;
  text-decoration: none;
  font-family: "JetBrains Mono", monospace;
  transition: .3s ease-in-out;
  overflow: hidden;
  background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
  color: black;
  display: inline-block;
  text-decoration: none;

  &:hover {
    transform: scale(1.1);
    --underline-width: 100%;
  }
}

.logo {
  text-decoration: none;
}

.header {
  position: sticky;
  top: 1rem;
  overflow: hidden;
  z-index: 9999;
  background: var(--grey-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 15px;
  width: 95%;
  box-shadow: var(--shadow);
  margin: auto;
  transition: .2s ease;

  .header-col1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 2rem;

  }

  .header-col2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    span {
        font-size: 2rem;
        color: black;
    }

    .logo.alt {
      display: none;
    }
  }

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    width: 85%;;

    .header-col2 {
      display: none;
    }

    .header-col1 {
      width: stretch;
      justify-content: space-evenly;
      align-items: center;
      gap: 2vw;

      a {
        font-size: 1rem;
      }

      .logo {
        h2 {
          display: none;
        }
      }

      .logo.alt {
        display: block;
        background-image: url(/images/elle.png);
        width: 80px;
        height: 80px;
        background-size: cover; 
        background-repeat: no-repeat;
      }
    }
  }

}