.box2 {
  position: relative;
  width:100%;
  min-height: 100vh;
  padding: 100px;
}

.box2 h2 {
  font-size: 2.5rem;
  color: #7D2E42;
}

.section-spacer {
    position: relative;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

body {
  overflow-x:hidden;
}