
.title-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

.title-widget {
    margin-top: 20vh;
    height: 50vh;
}

#title-icon {
    position: absolute;
    left: 50%;
    width: 80px;
    height: auto;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 1em;
    z-index: 1000;

    .icon-1, .icon-2 {
        transition: 0.2s ease-in-out;
    }
}

#title-icon:hover { 
    .icon-1{
        opacity: 1;
    }

    .icon-2{
        opacity: 0.5;
        transform: translateX(5px);
    }
}

.content {
    height: 70vh;
    position: relative;
    width: 100%;
}


