:root {
    --light-green: #C7D9C8;
    --light-blue: #8DA9C4;
    --darker-blue: #63798E;
    --green: #1B998B;
    --darker-green: #13505B;
    --grey-blue: #B8C1CA;
    --border-blue: #A2BDD7;
    --shadow: inset 0px 0px 30px 0px var(--light-blue),0px 10px 15px -3px var(--darker-blue);
}

h2 {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  color: black;
}

p {
  font-family: "JetBrains Mono", monospace;
  color: black;
}

.emp {
  font-family: "Silkscreen", sans-serif;
  font-weight: 200;
}

.section {
  margin: 15vh 0 50vh 0;
}


