:root {
    --light-green: #C7D9C8;
    --light-blue: #8DA9C4;
    --darker-blue: #63798E;
    --green: #1B998B;
    --darker-green: #13505B;
    --grey-blue: #B8C1CA;
    --border-blue: #A2BDD7;
    --shadow: inset 0px 0px 30px 0px var(--light-blue),0px 10px 15px -3px var(--darker-blue);
}

h2 {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  color: black;
}

p {
  font-family: "JetBrains Mono", monospace;
  color: black;
}

.emp {
  font-family: "Silkscreen", sans-serif;
  font-weight: 200;
}

.action {
  background: var(--light-blue);
  box-shadow: var(--darker-blue) 4px 4px 0px 2px, #00000040 0px 0px 5px 0px inset ;
  padding: 0.5rem 1rem !important;
  width: fit-content;
  border-radius: 8px;
  color: black !important;
  text-decoration: none;
  font-family: "Silkscreen", sans-serif !important;
  transition: .3s ease;

  &:hover {
    background: var(--border-blue);
    transform: scale(1.1);
    cursor: pointer;
  }

  &.alt {
    background: var(--border-blue);
    box-shadow: var(--light-blue) 4px 4px 0px 2px, #00000040 0px 0px 5px 0px inset ;
    margin: 2rem auto;

    &:hover {
      background: #b8d7f4;
    }

    &.disabled {
      pointer-events: none;
      opacity: .5;
    }

    &::before {
      content: "" !important;
      margin: 0 !important;
    }
  }
}

.section {
  margin: 15vh 0 50vh 0;
}


